Source: com.github.artemanufrij.hashit
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgranite-dev,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.artemanufrij.hashit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple checksum app
 A simple app for check usual checksums, written especially for elementary OS
